{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}
<h1 class="my-4">Публікації</h1>

{% if category %}
<h3 class="mb-4">{{ category }}</h3>
{% endif %}

<div class="row">
    {% for item in items %}
    <div class="col-lg-4 col-md-6 mb-4">
        {% if item.images.all %}
        <div class="card h-100 shadow-sm">
            <img class="card-img-top rounded-top" src="{{ item.images.all.0.image.url }}" alt="{{ item.title }}">
            <div class="card-body">
                <a href="{{ item.get_absolute_url }}" class="text-decoration-none">
                    <h4 class="card-title text-dark">{{ item.title }}</h4>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.pub_date|date:"j E Y" }}</h6>
                <p class="card-text">{{ item.description|safe|escape|striptags|truncatewords_html:32 }}</p>
            </div>
            <div class="card-footer text-right">
                <a href="{{ item.get_absolute_url }}" class="btn btn-sm btn-outline-primary">Читати далі</a>
            </div>
        </div>
        {% else %}
        <div class="card h-100 shadow-sm p-3">
            <div class="card-body">
                <a href="{{ item.get_absolute_url }}" class="text-decoration-none">
                    <h4 class="card-title text-dark">{{ item.title }}</h4>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.pub_date|date:"j E Y" }}</h6>
                <p class="card-text">{{ item.description|safe|escape|striptags|truncatewords_html:32 }}</p>
            </div>
            <div class="card-footer text-right">
                <a href="{{ item.get_absolute_url }}" class="btn btn-sm btn-outline-primary">Читати далі</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<a href="{% url 'home' %}" class="btn btn-primary mt-3">Головна</a>

{% endspaceless %}
{% endblock %}
