{% extends "base.html" %} 
{% load static %} 
{% block content %} 
{% spaceless %} 
<div> 
    <ol class="breadcrumb">
        <li><a href="/">Головна  --></a></li>
        <li><a href="{% url 'articles-list' %}">Публікації --></a></li>
        <li>{{ item.title|upper }}</li>
    </ol>

<div class="row justify-content-center my-4">
  <div class="col-md-8 text-center">
    <h3 class="fw-bold">{{ item.title }}</h3>
    <h5 class="text-dark">{{ item.pub_date|date:"d E Y"|safe|linebreaks }}</h5>
    <p class="mx-auto" style="max-width: 800px;">
      {{ item.description|escape|safe }}
    </p>
  </div>
</div>

{% if item.images.all %}
<div class="row justify-content-center my-3">
  <div class="col-md-8 text-center">
    {% include 'fotorama.html' with images=item.images.all %}
  </div>
</div>
{% endif %}


    <div class=‘clearfix’></div>
</div> 
{% endspaceless %} 
{% endblock %} 