{% spaceless %}
{% load static %}
{% block head %}
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Fotorama from CDNJS, 19 KB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}

<div class="d-flex justify-content-center">
    <div class="fotorama"
         data-width="500"
         data-height="350"
         data-nav="thumbs"
         data-allowfullscreen="true"
         data-loop="true"
         data-autoplay="3000">
        {% for image in images %}
            <img src="{{ image.image.url }}"
                 alt="{{ image.description }}"
                 style="width:500px; height:350px; object-fit:cover;"
                 data-caption="{{ image.description }}">
        {% endfor %}
    </div>
</div>
{% endspaceless %}
